*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

PeopleCrud/target/
PeopleCrudCore/target/
PeopleCrudLibrary/target/
/PeopleCrudClient/target/
/bdnc/target/
/JTSExampleModel/target/
/JTSExampleDAO/target/
/JTSExampleDesktopClient/target/